<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.union.dao.zpdw.RecruitPositionMapper">
	<resultMap type="com.comdosoft.union.bean.app.RecruitIndustry" id="recruitIndustry">
		<id property="id" column="rid"/>
		<result property="hymc" column="hymc" />
	</resultMap>
	<resultMap type="com.comdosoft.union.bean.app.RecruitUnit" id="recruitUnit">
		<id property="id" column="pid" />
		<result property="dwmc" column="dwmc"/>
		<result property="dwjs" column="dwjs"/>
		<result property="lxfs" column="lxfs"/>
		<result property="locate" column="locate"/>
		<association property="sshy" javaType="com.comdosoft.union.bean.app.RecruitIndustry" resultMap="recruitIndustry" />
	</resultMap>
	<resultMap id="recruitPosition" type="com.comdosoft.union.bean.app.RecruitPosition">
		<id property="id" column="id"/>
		<result property="zwmc" column="zwmc" />
		<result property="zwms" column="zwms" />
		<result property="sh" column="sh" />
		<result property="rs" column="rs" />
		<association property="dwid" javaType="com.comdosoft.union.bean.app.RecruitUnit" resultMap="recruitUnit" />
	</resultMap>

	<select id="findNewJob" resultMap="recruitPosition" >
		SELECT z.id, z.zwmc , z.dwid ,p.id as pid,p.dwmc,p.dwjs,p.lxfs,p.sshy, p.locate, r.id as rid,r.hymc
		   FROM zpzw z left join zpdw p on z.dwid=p.id 
		   left join zphy r on r.id = p.sshy
		   order by id desc
		   
	</select>
	
	<select id="findById" resultMap="recruitPosition" >
		SELECT z.id, z.zwmc , z.dwid ,p.id as pid,p.dwmc,p.dwjs,p.lxfs,p.sshy,r.id as rid,r.hymc
		   FROM zpzw z left join zpdw p on z.dwid=p.id 
		   left join zphy r on r.id = p.sshy
		   <where>
		   		z.id = #{id}
		   </where>
	</select>
	
	<select id="searchJob" resultMap="recruitPosition" >
		SELECT z.id, z.zwmc , z.dwid ,p.id as pid,p.dwmc,p.dwjs,p.lxfs,p.sshy, p.locate, r.id as rid,r.hymc
		   FROM zpzw z left join zpdw p on p.id =z.dwid 
		   left join zphy r on r.id = p.sshy
		   <where>
		   	<if test="q !=null">
		   		z.zwmc like "%"#{q}"%" or p.dwmc like "%"#{q}"%" or p.lxfs like "%"#{q}"%"
		   	</if>
		   	<if test="job_type !=null">
		   		and  r.id =#{job_type}
		   	</if>
		   	<if test="job_locate1 !=null">
		   		and p.locate like #{job_locate1}"%" 
		   		<if test="job_locate2 !=null">
		   		or p.locate like #{job_locate2}"%" 
		   		</if>
		   	</if>
		   </where>
		   order by r.hymc ,p.locate
	</select>
	
	<select id="findOtherJobById" resultMap="recruitPosition" >
			SELECT  	zp.id,zp.zwmc
			FROM  ( SELECT 	* 	FROM 	zpzw 	WHERE 	id = #{id} 	) as zz,zpzw as zp
			where zz.dwid = zp.dwid and zp.id != #{id}
	</select>
	
</mapper>