<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.union.dao.ActivityPicsMapper">

	<resultMap id="activityPics" type="com.comdosoft.union.bean.app.ActivityPics">
		<id property="id" column="id"/>
		<result property="smallImg" column="small_pic" />
		<result property="bigImg" column="big_pic" />
	</resultMap>

	<select id="findAll" resultMap="activityPics" >
		SELECT *
		   FROM activity_pics
		order by id desc
		   
	</select>
	<select id="findById" resultMap="activityPics" >
		SELECT *
		   FROM activity_pics
		where id=#{id}
		   
	</select>
	
</mapper>