<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.union.dao.merchant.MerchantMapper">

	<resultMap type="com.comdosoft.union.bean.app.MerchantType" id="merTypeResult">
		<id property="id" column="tid" />
		<result property="hymc" column="hymc"/>
	</resultMap>
	<resultMap id="getMerchant" type="com.comdosoft.union.bean.app.Merchant">
		<id property="id" column="id"/>
		<result property="dwmc" column="dwmc" />
		<result property="dwjs" column="dwjs" />
		<result property="jlfilename" column="jlfilename" />
		<result property="jlfile" column="jlfile" />
		<result property="yhhd" column="about_detail" />
		<result property="yhhd1" column="about" />
		<result property="lxfs" column="lxfs" />
		<result property="syfs" column="syfs" />
		<result property="symd" column="address" /><!-- 商户地址 -->
		<result property="yhm" column="yhm" />
		<result property="tel" column="tel" />
		<result property="logoPath" column="logo_path"/>
		<result property="about" column="about"/>
		<result property="about_detail" column="about_detail"/>
		<!-- <result property="logo" column="logo"  javaType="byte[]" jdbcType="BLOB" /> -->
		<association property="sshy" javaType="com.comdosoft.union.bean.app.MerchantType" resultMap="merTypeResult" />
	</resultMap>

	<select id="countByVo" resultType="int">
		SELECT count(m.id) as count 
		   FROM merchants m left join mer_fl f on f.id=m.sshy 
		  <where>
		  	<if test="id!=null">f.id=#{id}</if>
		  </where>
	</select>
	
	<select id="findAllMerchants" resultMap="getMerchant" >
		SELECT m.*,f.id as tid,f.hymc 
		   FROM merchants m left join mer_fl f on f.id=m.sshy 
		  order by m.id desc
	</select>
	
	<select id="findMerchantsByType" resultMap="getMerchant" >
		SELECT m.*,f.id as tid,f.hymc 
		   FROM merchants m left join mer_fl f on f.id=m.sshy 
		   where f.id = #{param2}
		  order by m.id desc
	</select>
	
	<select id="findById" resultMap="getMerchant" parameterType="java.lang.Integer">
		SELECT m.*,f.id as tid,f.hymc 
		  FROM merchants m ,mer_fl f where f.id=m.sshy 
		and m.id=#{id}
	</select>

</mapper>