<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>

	<!-- 数据源 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}"></property>
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<!-- 初始化连接数 -->
		<property name="initialSize" value="5"></property>
		<!-- 最大连接数 -->
		<property name="maxActive" value="30"></property>
		<!-- 最大空闲连数 -->
		<property name="maxIdle" value="2"></property>
		<!-- 最小空闲连数 -->
		<property name="minIdle" value="2"></property>
		<!-- 获取连接等待的超时时间，单位是毫秒 -->
		<property name="maxWait" value="60000"></property>
		<!-- 自动回收超时连接 -->
		<property name="removeAbandoned" value="true"></property>
		<!-- 记录泄露连接的日志 -->
		<property name="logAbandoned" value="true"></property>
		<!-- 间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000"></property>
		<!-- 一个连接在池中最小的生存时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="300000"></property>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:com.comdosoft.union.dao./**/*Mapper.xml" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.comdosoft.union.dao./**" />
	</bean>

	<!-- 声明事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 启用annotation注解方式的事务管理 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- 扫描所有包，主要是获取注解的所有类 -->
	<context:component-scan base-package="com.comdosoft.union" />

	<!-- 启用springmvc的注解 -->
	<mvc:annotation-driven >
	    <!-- @ResponseBody 返回中文乱码 jwb -->
	    <mvc:message-converters>  
	        <bean class="org.springframework.http.converter.StringHttpMessageConverter">  
	            <constructor-arg value="UTF-8" />  
	        </bean>  
	    </mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 系统拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/web/**" />
			<!-- 排除的请求 -->
			<mvc:exclude-mapping path="/web/adminLogin"></mvc:exclude-mapping>
			<mvc:exclude-mapping path="/web/adminLoginOut"></mvc:exclude-mapping>
			<bean class="com.comdosoft.union.interceptor.SystemInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<mvc:view-controller path="/" view-name="login" />

	<!-- json视图解析器(可以转换任何形式的java对象) -->
	<bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />

	<!-- FreeMarker视图解析器 -->
	<bean id="freemarkerResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="order" value="0"></property>
		<property name="prefix" value=""></property>
		<property name="suffix" value=".ftl"></property>
		<property name="contentType" value="text/html;charset=utf-8"></property>
		<property name="requestContextAttribute" value="request"></property>
		<property name="exposeSpringMacroHelpers" value="true"></property>
		<property name="exposeRequestAttributes" value="true"></property>
		<property name="exposeSessionAttributes" value="true"></property>
		<property name="viewClass">
			<value>com.comdosoft.union.controller.MyFreeMarkerView</value><!-- 自定义MyFreeMarkerView用来定义项目全局路径 -->
		</property>
	</bean>
	<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/view/" />
		<property name="freemarkerSettings"><!-- 设置FreeMarker环境属性 -->
			<props>
				<prop key="template_update_delay">2</prop><!--刷新模板的周期，单位为秒 -->
				<prop key="default_encoding">UTF-8</prop><!--模板的编码格式 -->
				<prop key="locale">UTF-8</prop><!-- 本地化设置 -->
				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
				<prop key="time_format">HH:mm:ss</prop>
				<prop key="number_format">###.#</prop>
				<prop key="whitespace_stripping">true</prop>
				<prop key="tag_syntax">auto_detect</prop>
				<prop key="url_escaping_charset">UTF-8</prop>
				<prop key="auto_import">spring.ftl as spring</prop>
			</props>
		</property>
	</bean>

	<!-- JSP视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 容器默认的DefaultServletHandler,处理所有静态内容或无RequestMapping的URL -->
	<mvc:default-servlet-handler />

	<!-- 静态文件 -->
	<!-- <mvc:resources location="WEB-INF/images/" mapping="images/**" /> -->
	<!-- <mvc:resources location="WEB-INF/js/" mapping="js/**" /> -->
	<!-- <mvc:resources location="WEB-INF/style/" mapping="style/**" /> -->
	<!-- <mvc:resources location="upload/" mapping="upload/**" /> -->

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8"></property>
		<!-- 上传文件限制大小(单位Byte):2MB -->
		<property name="maxUploadSize" value="2097152"></property>
	</bean>

	<!-- 系统异常统一处理 -->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">

		<!-- 定义默认的异常处理页面 -->
		<property name="defaultErrorView" value="error"></property>

		<!-- 定义异常处理页面用来获取异常信息的变量名，默认名为exception -->
		<property name="exceptionAttribute" value="exception"></property>

		<!-- 定义需要特殊处理的异常，用类名或完全路径名作为key，异常页面名作为值 -->
		<!-- <property name="exceptionMappings"> -->
		<!-- <props> -->
		<!-- <prop key="IllegalStateException">login</prop> -->
		<!-- 这里还可以继续扩展对其它不同异常类型的处理 -->
		<!-- </props> -->
		<!-- </property> -->

		<!-- 记录异常信息到日志(WARN级别) -->
		<property name="warnLogCategory">
			<value>org.springframework.web.servlet.handler.SimpleMappingExceptionResolver</value>
		</property>

	</bean>
</beans>
