<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.union.dao.news.NewsMapper">

	<resultMap id="getNews" type="com.comdosoft.union.bean.app.News">
		<id property="id" column="id"/>
		<result property="lm" column="lm" />
		<result property="lm2" column="lm2" />
		<result property="lm3" column="lm3" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="time" column="time" />
		<result property="adduser" column="adduser" />
		<result property="sh" column="sh" />
		<result property="sh2" column="sh2" />
		<result property="sh2user" column="sh2user" />
		<result property="sh2time" column="sh2time" />
		<result property="sh3" column="sh3" />
		<result property="sh3user" column="sh3user" />
		<result property="sh3time" column="sh3time" />
		<collection property="newPicsList" column="newsid" javaType="com.comdosoft.union.bean.app.NewsPics">
			<result property="id" column="pid"/>
			<result property="pic" column="pic"/>
			<result property="newsId" column="newsid"/>
		</collection>
	</resultMap>

 	<!-- 查询条件 -->
	<sql id="dynamicWhere">
		<where>
			<if test="id != null"> AND m.ID =#{id} </if>
		</where>
	</sql>
	
	<select id="countByVo" resultType="int">
		SELECT count(*) as count
		  FROM news2  
	</select>
	
	<select id="findAll" resultMap="getNews" >
		SELECT m.*,p.id as pid,p.pic as pic,p.newsid  
		   FROM news2 m left join news_pics p on m.id = p.newsid
	</select>
	
	<select id="findById" resultMap="getNews" parameterType="java.lang.Integer">
		SELECT m.*,p.id as pid,p.pic as pic,p.newsid  
		   FROM news2 m , news_pics p where m.id = p.newsid
		and m.id=#{id} 
	</select>

</mapper>