<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.union.dao.news.NewsMapper">

	<resultMap id="news" type="com.comdosoft.union.bean.app.News">
		<id property="id" column="id"/>
		<result property="lm" column="lm" />
		<result property="lm2" column="lm2" />
		<result property="lm3" column="lm3" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="time" column="time" javaType="java.sql.Date" jdbcType="DATE"/>
		<result property="adduser" column="adduser" />
		<result property="sh" column="sh" />
		<result property="sh2" column="sh2" />
		<result property="sh2user" column="sh2user" />
		<result property="sh2time" column="sh2time" javaType="java.sql.Date" jdbcType="DATE"/>
		<result property="sh3" column="sh3" />
		<result property="sh3user" column="sh3user" />
		<result property="sh3time" column="sh3time" javaType="java.sql.Date" jdbcType="DATE"/>
		<collection property="newPicsList" column="newsid" javaType="com.comdosoft.union.bean.app.NewsPics">
			<result property="id" column="pid"/>
			<result property="pic" column="pic"/>
			<result property="newsId" column="newsid"/>
		</collection>
	</resultMap>

	<select id="countByVo" resultType="int">
		SELECT count(*) as count
		  FROM news2  
	</select>
	
	<select id="findAll" resultMap="news" >
		SELECT m.id,m.title,m.content,m.time,m.sh3,m.lm3 ,p.id as pid,p.pic as pic,p.newsid  
		   FROM news2 m left join news_pics p on m.id = p.newsid
		    where  m.sh3=1 
			<if test="lm3 != null"> AND m.lm3 =#{lm3} </if>
		order by m.time desc
		   
	</select>
	
	<select id="findTopNews" resultMap="news" >
		SELECT m.id,m.title,m.content,m.time,m.sh3,m.lm3 ,p.id as pid,p.pic as pic,p.newsid  
		   FROM news2 m left join news_pics p on m.id = p.newsid
		    where  m.sh3=1 
			order by m.time desc
		   
	</select>
	
	<select id="findById" resultMap="news" parameterType="java.lang.Integer">
		SELECT m.id,m.title,m.content,m.time,m.sh3,m.lm3 ,p.id as pid,p.pic as pic,p.newsid  
		   FROM news2 m left join news_pics p on m.id = p.newsid
		where  m.sh3=1 and m.id=#{id}
		order by m.time desc
	</select>
	
	<!-- 根据id查询法规详情    -->
	<select id="findLawsById" resultMap="news" parameterType="java.lang.Integer">
		SELECT m.id,m.title,m.content,m.time,m.sh3,m.lm3 ,p.id as pid,p.pic as pic,p.newsid  
		   FROM news2 m left join news_pics p on m.id = p.newsid
		where  m.sh3=1 AND m.lm3 =57  and m.id=#{id}
	</select>
	
	<select id="search" resultMap="news" parameterType="map">
		SELECT m.id,m.title,m.content,m.time,m.sh3,m.lm3 ,p.id as pid,p.pic as pic,p.newsid  
		   FROM news2 m left join news_pics p on m.id = p.newsid
		    where  m.sh3=1 
		    AND m.lm3 =57 
		    <if test="title !=null">
		    AND m.title like "%"#{title}"%" 
		    </if>
		order by m.time desc
		   
	</select>

</mapper>