<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.union.dao.news.ProtectRightMapper">

	<insert id="insertProtectRight" parameterType="com.comdosoft.union.bean.app.ProtectRight">
		INSERT INTO ly (username, title, address, email, mobile, content, addtime,lm)
    	VALUES (#{username}, #{title}, #{address}, #{email}, #{mobile}, #{content}, #{addtime},#{code})
	</insert>
</mapper>