<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.union.dao.news.TcardcxMapper">

	<resultMap id="xzType" type="com.comdosoft.union.bean.app.XzType">
			<result property="id" column="id"/>
			<result property="name" column="name"/>
			<result property="img" column="img"/>
	</resultMap>
		
	<resultMap id="tcardcx" type="com.comdosoft.union.bean.app.Tcardcx">
		<result property="cxm" column="cxm" />
		<result property="csfzh" column="csfzh" />
		<result property="dqbrq" column="dqbrq" />
		<result property="xz" column="xz" />
		<collection property="xzId" column="id" javaType="com.comdosoft.union.bean.app.XzType" resultMap="xzType">
		</collection>
	</resultMap>

	<select id="countByVo" resultType="int">
		SELECT count(*) as count
		  FROM tcardcx  
	</select>
	
	<select id="findStaffAll" resultMap="tcardcx" >
		SELECT *
		   FROM tcardcx m left join xz_type t on m.xzId=t.id
	</select>
	<select id="findRetireAll" resultMap="tcardcx" >
		SELECT *
		   FROM tcardcxtx m left join xz_type t on m.xzId=t.id
	</select>
	
	<select id="findById" resultMap="xzType" parameterType="java.lang.Integer">
		SELECT *
		  FROM  xz_type t 
		where  t.id=#{id}
	</select>
	
	<!-- 根据身份证号搜索 -->
	<select id="search" resultMap="xzType" parameterType="java.lang.String">
		SELECT * 		FROM 		xz_type m
		   LEFT JOIN tcardcx t ON t.xzId = m.id
			LEFT JOIN tcardcxtx tx ON tx.xzId = m.id
		where  t.csfzh like "%"#{csfzh}"%" or tx.csfzh like "%"#{csfzh}"%"
	</select>
	<select id="searchAll" resultMap="xzType" parameterType="java.lang.String">
		SELECT * 		FROM 		xz_type m
		   LEFT JOIN tcardcx t ON t.xzId = m.id
			LEFT JOIN tcardcxtx tx ON tx.xzId = m.id
	</select>
</mapper>